<!--
  ~ web.xml
  ~
  ~ Copyright [2016] [iTransformers Labs Ltd - http://itransformers.net]
  ~
  ~ DDOS servlet filter has been created by Nikolay Milovanov and Vasil Yordanov with the purpose of defending enterprise java applications from DDOS (Distributed Denial of Service Attacks) by blackholing the attacker traffic by applying RFC rfc5635 - Remote Triggered Black Hole Filtering with Unicast Reverse Path Forwarding (uRPF)
  ~
  ~ DDOS servlet filter has been licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
      <filter-name>HitCounterFilter2</filter-name>
      <filter-class>org.iTransformers.HitCounterFilter</filter-class>
      <init-param>
          <param-name>TriggerPrefixLength</param-name>
          <param-value>24</param-value>
      </init-param>
      <init-param>
          <param-name>PrefixHitCount</param-name>
          <param-value>10</param-value>
      </init-param>
      <init-param>
          <param-name>BlockingPeriod</param-name>
          <param-value>120000</param-value>
      </init-param>
      <init-param>
          <param-name>DeltaPeriod</param-name>
          <param-value>10000</param-value>
      </init-param>
      <init-param>
          <param-name>TriggerIPAddress</param-name>
          <param-value>192.168.3.3</param-value>
      </init-param>
      <init-param>
          <param-name>TriggerProtocol</param-name>
          <param-value>ssh</param-value>
      </init-param>
      <init-param>
          <param-name>UserName</param-name>
          <param-value>lab</param-value>
      </init-param>
      <init-param>
          <param-name>UserPass</param-name>
          <param-value>lab123</param-value>
      </init-param>
      <init-param>
          <param-name>EnablePass</param-name>
          <param-value>lab123</param-value>
      </init-param>
      <init-param>
          <param-name>TriggerPort</param-name>
          <param-value>22</param-value>
      </init-param>
      <init-param>
          <param-name>sshTimeout</param-name>
          <param-value>10000</param-value>
      </init-param>
  </filter>
    <filter-mapping>
        <filter-name>HitCounterFilter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <servlet>
      <servlet-name>HelloServlet</servlet-name>
      <servlet-class>org.iTransformers.HelloServlet</servlet-class>
      <init-param>
          <param-name>test</param-name>
          <param-value>test</param-value>
      </init-param>
  </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>
